body{
    margin: 0;
}
/*#box1{*/
/*color:black;*/
/*width:50%;*/
/*height:200px;*/
/*background-color: bisque;*/
/*margin:0px;*/
/*padding: 0px;*/
/*display: inline-block;*/
/*!*margin-right: -4px*!*/
/*}*/
/*#box2{*/
/*width:50%;*/
/*height:200px;*/
/*background-color: brown;*/
/*margin: 0px;*/
/*padding:0px;*/
/*display: inline-block;*/
/*}*/
/*#container{*/
/*font-size:0px;*/
/*width:660px;*/
/*background-color: aquamarine;*/
/*padding: 0px;*/
/*margin: 0px auto;*/
/*white-space: nowrap;*/
/*!*box-sizing: border-box;*!*/

/*}*/
/*#st1{*/
/*border: 1px solid black;*/
/*border-top-right-radius: 20px;*/
/*border-bottom-right-radius: 20px;*/
/*padding-bottom: 16px;*/
/*padding-left: 8px;*/
/*padding-right: 8px;*/
/*padding-top: 16px;*/
/*}*/
td form button{

    border:3px green solid;

}
td {
    border:1px solid black;
}
textarea{
    resize: none;
    width:200px;
    border:1px dashed black;
    font-size:1.5em;
}
fieldset{
    /*background-color: darkred;*/
    background-color:#CCC;
    max-width:500px;
    padding:16px;
    border:1px dashed black;
}
legend{
    margin-bottom:0px;
    margin-left:0px;
    background-color: #CCC;
    border:1px dashed black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px grey;
}
#info{
    background-color: brown;
    width:400px;

}


.textInfo{
    color:black;
    background-color: yellow;
    font-weight: 300;
}
.inform{
    width:100%;
    background-color: yellow;
}
.inform:hover{
    cursor: pointer;
}
#info div{
    border:1px solid pink;
}
#proba{
    width:200px;
    height: 150px;
    background-color: bisque;
}
.broika{
    color: #5edc01;
    font-weight: 600;
    font-size:1.5em;
    background-color: black;
    border-bottom: 1px solid darkblue;

}
#subm1,#subm2,#subm3{
    width:70px;
    font-family: Serif;
    font-size:1em;
    padding:2px;
    color:midnightblue;
    font-weight: 600;
}
#subm1{
    background-color: lightgreen;
}
#subm2{
    background-color: yellow;
}
#subm3{
    background-color: orange;
    width:150px;
}
#contCard{
    height: 250px;
    resize: vertical;
    overflow: auto;
    border:none
}
#infoCard{
    width:450px;
}
#savecard{
    background-color: darkseagreen;
    width:70px;
    border-radius: 20%;
    text-align:center;
}
#savecard:hover{
    cursor: pointer;
}