<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="bootstrap.min.css" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='stil.css') }}" rel="stylesheet">

    <script src="{{url_for('static',filename='jquery-3.3.1.min.js') }}"></script>
    <script>

    </script>
</head>
<body>
<div id="container">
<table>
   <tr>
       <td style="border:none">
           <form action="#">
               <legend for="ipvals" style="width:200px;">Insert card/s:</legend>
               <textarea name="ipta"  rows="10" id="ipvals"></textarea>

           <div style="float:inherit">
               <span class="textInfo">Cards inserted:</span> <span class="broika"></span><br>
               <span class="textInfo">Cards modified:</span> <span class="broika"></span>
           </div>
           </form>
       </td>
       <td  valign="top" style="border: none;margin-left:-650px;position:absolute">

           <button type="button" id="subm1" class="btn btn-success">Add </button>
           <br>
           <button type="button" id="subm2" class="btn btn-warning">Clear </button>
           <br><br>
           <button type="button" id="subm3" class="btn btn-danger">Send to CAS</button>
       </td>
    </tr>
    <tr>
        <td colspan="3">
            <table>
            <tr >
                <td style="width:400px" >
                    <div id="contCard" style="border: none">

                    </div>
                </td>
                <td style="border: none;padding:5px;">
                    <div id="infoCard"></div>
                </td>
            </tr>

            </table>
        </td>

    </tr>



</table>
</div>
<script>
    const START=2082104000
    const END=2082104505
    var curentCard
    var selectedCards=[]
    var modifiedCards={}
    var subscrPackages={
        101:'Product01',
        117:'Viacom-nick',
        118:'Viacom-nick-jr',
        102:'test1'
    }

    function modifyCards(){
        modifiedCards[selectedCards[curentCard]]={}
        modifiedCards[selectedCards[curentCard]]["add"]={}
        modifiedCards[selectedCards[curentCard]]["delete"]={}
        for(var i in subscrPackages){
            if($('input[value='+i+']').prop("checked")){
                console.log(selectedCards[curentCard])

                modifiedCards[selectedCards[curentCard]]["add"][i]=subscrPackages[i]
//                modifiedCards['card'][i]=subscrPackages[i]
            }
            else{
                modifiedCards[selectedCards[curentCard]]["delete"][i]=subscrPackages[i]
            }
        }
        console.log(modifiedCards)

    }
    function validator(number){
        var match=false
        for(var i=START;i<END;i++) {
            if (parseInt(number) == i && (number.length <= 11)) {
                match = true
            }
        }
        if(match){
            return true
            }
        else{
            return false
        }
    }
    function getVal() {
        selectedCards=[]
        var mas = $('#ipvals').val().split('\n')
        $.each(mas, function (e) {
//            console.log(mas)
            console.log(typeof mas[e])
            if(validator(mas[e])) {
                selectedCards.push(Number(mas[e]))
                $("#contCard").append('<div class="inform">[' + e +']:' + mas[e] + '</div>')
//            $("div#info").css('height')
            }
        })
        $('.textInfo+.broika').eq(0).text(selectedCards.length)
    }



    function getInfoForCard(number,selectedPackages){
//            alert(number)
//
        console.log("SelectedPackages in getInfo function : ",selectedPackages)
            var htmlTemp="<form action='#' method='post'> "+
                    "<fieldset class='form-group'>" +
                    "<legend>Packages for "+selectedCards[number]+":</legend>"
            try {
//                var refer = Object.values(modifiedCards[selectedCards[number]]['add'])
                console.log("selektirani karti:%s i nomer:%s ",selectedCards[number])
                var refer=selectedPackages[selectedCards[number]]['add']
            }
            catch(err){
                refer=undefined
            }
            console.log("[refer: ",refer)
            for(var element in subscrPackages){
                var found=false
                for(var i in refer){
//                    console.log("%s == %s ?",refer[i],element)

                    if(refer[i] == element){
                        found=true
                        console.log("match %s = %s",refer[i],refer[i])
                        break
                    }
                }
                if(found) {
                    htmlTemp += "<label for=" + subscrPackages[element] + ">" +
                        "<input type='checkbox' name='paketi' value=" + element + " checked >" + subscrPackages[element] +
                        "</label><br>"
                }
                else{
                    htmlTemp += "<label for=" + subscrPackages[element] + ">" +
                        "<input type='checkbox' name='paketi' value=" + element + ">" + subscrPackages[element] +
                        "</label><br>"
                }

            }
//            var htmlTemp= "<legend>Packages for "+selectedCards[number]+":</legend>" +
//                "<label for='package1'>"+
//                "<input type='checkbox' name='paketi' value='package1' /> Packet 1 " +
//                "</label><br>" +
//                "<label for='package2'>"+
//                "<input type='checkbox' name='paketi' value='package2' /> Packet 2" +
//                "</label>" +
//                "<br>"+
                htmlTemp+="<div class='btn btn-primary' id='savecard'>SAVE</div>"+
                "</fieldset>"+
                "</form>"
//        var htmlTemp=`<div class="form-group">
//            <legend>Contact details</legend>
//        <label>Email:<br />
//        <input type="text" name="email" /></label><br />
//            <label>Mobile:<br />
//        <input type="text" name="mobile" /></label><br />
//            <label>Telephone:<br />
//        <input type="text" name="telephone" /></label>
//            </div>
//        `


        $('#infoCard').html(htmlTemp)
    }
    function color(card){
        $('#contCard .inform').eq(card).css({'background-color': 'red'});
        $('#infoCard').parent().css({'background-color':'red'})
    }
    function uncolor(card){
        $('#contCard .inform').eq(card).css('background-color','yellow');
    }

        $('#subm1').click(function () {
            $(".inform").remove()
            getVal();
        });

//        $('#savecard').click(function(){
//
//        })

        $(document).on('click','#savecard',function (){
            modifyCards();
            $('.textInfo+.broika').eq(1).text(Object.keys(modifiedCards).length)
        })


    $('#subm2').click(function () {
            $(".inform").remove()
            $("#infoCard").empty()
            $("div > .broika").empty()
            $("#infoCard").parent().css({"background-color":"white"})
            modifiedCards={}
        })


    $("#subm3").click(function(){
        $.ajax({
            url: '/soapi',
            type: 'POST',
            data: JSON.stringify(modifiedCards),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            complete: function(msg) {
                selectedPackages=msg;
            },

        });
    })

        $(document).on('click','div.inform',function () {
            index4e = $(this).index();
            var selectedPackages={}
            if(curentCard >=0) {
                console.log('going to make ajax')
                $.ajax({
                    url: '/checkCardNumber/'+selectedCards[index4e],
                    type: 'GET',
                    data: '',
                    contentType: 'application/json; charset=utf-8',
//                    complete: function (msg) {
////                        selectedPackages=JSON.stringify(msg);
////                        console.log('selectedPackages: ',JSON.stringify(msg['responseJSON']))
//                        getInfoForCard(index4e,msg)
//                    },
                    success: function(data) {
                        getInfoForCard(index4e,data);
                        }

                });

//                    $('#contCard .inform').eq(curentCard).css('background-color','yellow');
//                    $('#contCard .inform').eq(index4e).css('background-color', 'red');
                    uncolor(curentCard)
                    color(index4e)
                    console.log('index is : ' + index4e)

                    curentCard=index4e
//                    console.log(selectedPackages['responseText'])
//                    getInfoForCard(index4e,selectedPackages)
            }
            else{
                $.ajax({
                    url: '/checkCardNumber/'+selectedCards[index4e],
                    type: 'GET',
                    data: '',
                    contentType: 'application/json; charset=utf-8',
//                    complete: function (msg) {
////                        console.log('--->>>'+ JSON.stringify(msg['responseJSON']));
////                        console.log('selectedPackages: ',JSON.stringify(msg['responseJSON']))
//                        getInfoForCard(index4e,msg)
//                    }
                    success: function(data) {
                        getInfoForCard(index4e,data);
                        }
                });

                curentCard=index4e
//                $('#contCard .inform').eq(curentCard).css('background-color', 'red');
                color(curentCard)
//                console.log('--->>>'+ JSON.stringify(msg.topics))

            }
        });




</script>
</body>
</html>
